$green: #30f430;

body {
  font-family: "Lato", "Helvetica",  "sans-serif";
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 300;
  color: white;
}

.title {
  color: $green;
  font-size: 2em;
  font-weight: 700;
  padding-top: 50px;
  opacity: 0.9;
}

.field {
  margin: 20px 0;
  color: black;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
  border-radius: 20px 0;
  color: black;
}


/*
  Section styles
 */
.card {
  display: none;
}

/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: grey;
  border: 0;
  opacity: 0.75;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 280px;
  font-size: 28px;
  padding: 10px 0;
  font-weight: 400;
}


.card__back, .card__link {
  color: black;
  background-color: $green;
  opacity: 0.8;
}

.btn__text {
  padding: 20px 55px;
  border-radius: 0 5px 5px 0;
  color: black;
  width: 100%;
}

.btn__selected {
  background-color: yellow !important;
}

// Background Images based on screen

#player-setup, #battleground, #species-select, #class-select, #weapon-select {
  min-height: 800px;
}

#player-setup {
  background: url("../images/insert-coin.gif") black;
  padding-top: 200px;
  background-size: 100%;
}

#species-select, #class-select, #weapon-select {
  background: url("../images/fighter-black.jpg") black;
  background-size: 100%;
}

// Battleground

.btn__attack {
  border-radius: 20px;
}

.btn__attack:active {
  background-color: red;
  opacity: 1;
}

.navbar {
  opacity: .8;
  background-color: black;
  padding: 0;
  margin: 0;
}

.navbar .btn {
  opacity: 1;
  margin: 15px;
  padding: 3px;
  font-weight: 600;
  min-width: 270px;
  background-color: grey;
}

.navbar .btn__text {
  font-size: 1em;
  padding: 0 10px;
  font-weight: 400;
  line-height: .5em;
}

#battleground {
  background-size: auto 100%;
}

.b1 { background: url("../images/backgrounds/1.gif") }
.b2 { background: url("../images/backgrounds/2.gif") }
.b3 { background: url("../images/backgrounds/3.gif") }
.b4 { background: url("../images/backgrounds/4.gif") }
.b5 { background: url("../images/backgrounds/5.gif") }
.b6 { background: url("../images/backgrounds/6.gif") }
.b7 { background: url("../images/backgrounds/7.gif") }
.b8 { background: url("../images/backgrounds/8.gif") }
.b9 { background: url("../images/backgrounds/9.gif") }
.b10 { background: url("../images/backgrounds/10.gif") }
.b11 { background: url("../images/backgrounds/11.gif") }
.b12 { background: url("../images/backgrounds/12.gif") }
.b13 { background: url("../images/backgrounds/13.gif") }
.b14 { background: url("../images/backgrounds/14.gif") }
.b15 { background: url("../images/backgrounds/15.gif") }
.b16 { background: url("../images/backgrounds/16.gif") }
.b17 { background: url("../images/backgrounds/17.gif") }

// PC Stats

#fight-status {
  height: 100px;
  font-size: 4em;
  z-index: 100;
}

.stats-row {
  height: 100%;
}

#pc-overview, #npc-overview {
  padding: 50px;
  text-shadow: 0px 0px 2px black;
  text-shadow: 0px 0px 10px black;
  height: 100px;
}

#pc-stats, #npc-stats {
  height: 300px;
  padding: 50px;

}

#pc-health, #npc-health {
  padding: 10px 10px 10px 50px;
  background-color: $green;
  opacity: .75;
  font-size: 1.8em;
  color: black;
}

#pc-health {
  border-radius: 0 20px 20px 0;
}

#npc-health {
  border-radius: 20px 0 0 20px;
}

#pc-image {

}

#pc-image img, #npc-image img {
  height: 400px;
  margin-top: 100px;
  margin-left: 50px;
}

// Flips enemy image
#npc-image img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}